#p1:hover {

    background-color: red;

}
#p2:hover {
    background-color: yellow;
}

#p3:active {

    background-color: blue;

}

;:not(#p5){
    color: red;
}
p:nth-child(1) {
    font-weight: bold;
}